* {
    font-family: 'Lekton';
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*Logo*/
#logo {
    font-family: 'Changa';
    font-size: 2rem;
    margin-left: 15px;
}

header {
    display: flex;
    justify-content:space-between;
    background-color: #2596be;
    border-bottom: 2px solid #2b5f53;
    width: 100%;
}

/*Nav*/
nav {
    margin-top: 17px;
    margin-right: 15px;
    text-align: right;
}

nav img {
    max-width: 30px;
    max-height: 30px;
}

/*Banner*/
#banner {
    background-image: url(/Images/Running\ with\ Dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    min-width: 100%;
    justify-content: center;
    color: black;
    font-weight: bold;
    display: flex;
}

.title {
    font-size: 2rem;
    margin-left: 50px;
    margin-top: 200px;
}

#join-us {
    margin-top: 260px;
    margin-right: 110px;
    width: 200px;
    height: 60px;
    background-color: seashell;
    border-radius: 20px;
    font-size: 1.45rem;
    box-shadow: 10px 10px 10px black;
    opacity: 0.8;
}

/*Info*/
#info {
    padding: 20px 15px;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    text-align: center;
}

#info p {
    font-size: 1.30rem;
}

/*Pictures*/
#pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
}

.landscape{
    width:600px;
    height: auto;
    margin: 10px;
}

.portrait {
    width: auto;
    height: 500px;
    margin: 10px;
}


/*Location*/
#location {
    width: 100%;
    height: 600px;
  }
  
  .location-text p {
    text-align: center;
    font-size: 1.8rem;
    padding: 1.2rem 1.2rem;
    font-size: 2rem;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .NYC {
    width: 400px; 
    height: auto; 
  }
  
  .Vancouver {
    width: 400px; 
    height: auto;
  }

  .images figcaption {
    text-align: center;
    font-size: 1.2rem;
  }

/*Contact*/
  #contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact {
    display: flex;
    justify-content: center;
    background-color: seashell;
    font-size: 1.3rem;
    margin-bottom: 55px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    width: 150px;
    height: 40px;
  }

  #contact a {
    text-decoration: none;
  }

/*Copyright*/
#copyright {
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 0.5rem;
}